@import '../../shared/variables.scss';

.container {
  padding: 10px;
}

.header {
  margin-top: 0;
}

.field {
  display: flex;
  flex-direction: column;

  width: 100%;

  margin-bottom: 10px;

  label {
    margin: 5px;

    font-weight: 300;
  }

  input {
    height: 30px;
    width: 200px;

    padding-left: 8px;

    border-radius: 3px;

    border: none;
    box-shadow: 1px 1px 2px 0px #00000029;
  }
}

.update-button {
  width: 60px;
  height: 30px;

  margin: 20px;
  margin-left: 0px;

  box-sizing: border-box;
  transition:
    opacity 0.2s ease-in,
    top 0.2s ease-in;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  display: inline-block;

  font-size: 11px;

  padding: 0 8px;

  position: relative;

  text-align: center;
  top: 0;
  vertical-align: top;
  white-space: nowrap;

  background-color: #d8d8d8;
}

.update-button:hover {
  opacity: 0.8;
}


.alert-text {
  color: $alert-text-color;
}

.validator-alert {
  width: calc(100% - 8px);

  margin-top: 10px;
  padding: 4px;

  color: $validator-alert-text-color;

  background-color: $validator-alert-background-color;
  border-radius: 3px;
}

@media (prefers-color-scheme: dark) {
  .field {
    label {
      color: $dark-mode-main-font-color;
    }

    input {
      color: $dark-mode-main-font-color;
      background-color: $dark-mode-background-color;
    }
  }

  .update-button {
    color: $dark-mode-main-font-color;
    background-color: $dark-mode-background-color;
  }
}
