@import '../../../shared/variables.scss';

:host {
  display: block;
}

.close-trigger {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  padding: 0;

  opacity: 0;

  z-index: 9998;
}

.container {
  width: $cart-panel-width;
  height: calc(100vh - 56px);
  padding-top: 56px;

  position: fixed;
  right: 0;
  top: 0;

  background-color: $light-mode-foreground-color;
  box-shadow: 4px 0px 5px black;
  z-index: 9999;
}

.cart-item-list {
  height: calc(100vh - 56px - 40px);
  overflow-y: auto;
}

.bottom {
  width: calc($cart-panel-width - 6px * 2);
  height: 40px;
  padding: 6px;

  bottom: 0;

  display: flex;
  position: fixed;
}

.bottom > * {
  width: 200px;
  caret-color: transparent;
}

.bottom p {
  margin: 0;

  text-wrap: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;

  padding-left: 10px;
  font-size: 1.1rem;
  line-height: 40px;
}

.bottom button {
  transition: background 0.2s ease-out;

  color: #353535;
  font-weight: 400;
  font-size: 1rem;

  user-select: none;
  cursor: pointer;

  border: none;
  background-color: $light-mode-background-color;
  border-radius: 2.75rem;
}

.bottom button:hover {
  background-color: color-mix(in srgb, #3a3a3a 75%, black);
  border: none;
}

.not-authorized-text {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.not-authorized-text app-image-container img {
  filter: invert(76%);
}

.not-authorized-text p {
  margin: 0;
  height: 30px;
  font-size: 1.3rem;
  color: $light-mode-main-font-color;
}

@media (prefers-color-scheme: dark) {
  .container {
    background-color: $dark-mode-foreground-color;
  }

  .bottom p {
    color: $dark-mode-main-font-color;
  }

  .bottom button {
    color: $dark-mode-main-font-color;
    background-color: color-mix(in srgb, #3a3a3a 90%, black);
  }

  .not-authorized-text p {
    color: $dark-mode-dark-font-color;
  }
}
