@import '../../shared/variables.scss';

:host {
  display: flex;
  justify-content: center;
}

.container {
  width: 200px;
}

.field {
  display: flex;
  flex-direction: column;

  margin-bottom: 10px;
}

.field label {
  margin: 5px;
  position: sticky;
  font-weight: 400;
}

.field input {
  height: 30px;

  border-radius: 3px;

  border: none;
  box-shadow: 1px 1px 2px 0px #00000029;
}

hr {
  border: none;
}

app-button {
  width: 60px;
  height: 32px;
}

.controls-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.alert-text {
  color: $alert-text-color !important;
}

.validator-alert {
  width: calc(100% - 8px);

  margin-top: 10px;
  padding: 4px;

  color: $validator-alert-text-color;

  background-color: $validator-alert-background-color;
  border-radius: 3px;
}

@media (prefers-color-scheme: dark) {
  .field label {
    color: $dark-mode-secondary-font-color;
  }

  .field input {
    color: $dark-mode-main-font-color;
    background-color: $dark-mode-foreground-color;
  }
}
