<nav>
    <ul>
        @for (item of [
          { title: 'About Us', link: '/about-us', color: '--hot-red'},
          { title: 'Delivery', link: '/delivery', color: '--french-violet'},
          { title: 'Categories', link: '/categories', color: '--bright-blue'},
          { title: 'Home', link: '/home', color: '--hot-red'},
        ]; track item.title) {
            <li class="nav-link-button">
                <div routerLinkActive="pill-active" class="pill" style="--pill-accent: var({{ item.color }});">
                    <a [routerLink]=item.link>{{ item.title }}</a>
                </div>
            </li>
        }

        <li class="nav-logo">
            <a href="">Product Store</a>
        </li>
    </ul>
</nav>
