$alert-text-color: rgba(243, 134, 134, 0.76);
$validator-alert-text-color: #702e2e;
$validator-alert-background-color: #f38686c2;

$product-card-discount-color: #ff0000;


$nav-height: 40px;
$nav-height-mobile: 40px;
$nav-padding: 8px;

$cart-panel-width: 400px;


$light-mode-pill-accents: var(--french-violet);
$dark-mode-pill-accent: #bd5cf5;


$dark-mode-background-color: #292929;
$dark-mode-foreground-color: #3f3f3f;

$light-mode-background-color: whitesmoke;
$light-mode-foreground-color: white;


$dark-mode-main-font-color: whitesmoke;
$dark-mode-secondary-font-color: gray;
$dark-mode-dark-font-color: rgb(19, 19, 19);
$dark-mode-special-font-color: #a800ff;

$light-mode-main-font-color: black;
$light-mode-secondary-font-color: lightgray;
$light-mode-special-font-color: var(--french-violet);