<form class="container" [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
  <div class="field">
    <label for="username">Username: </label>
    <input type="text" id="username" formControlName="username" />
  </div>

  <div class="field">
    <label for="password">Password: </label>
    <input type="password" id="password" formControlName="password" />
  </div>

  <div class="field">
    <label for="firstName">First name: </label>
    <input type="text" id="firstName" formControlName="firstName" />
  </div>

  <div class="field">
    <label for="lastName">Last name: </label>
    <input type="text" id="lastName" formControlName="lastName" />
  </div>

  <div class="field">
    <label for="address">Address: </label>
    <input type="text" id="address" formControlName="address" />
  </div>

  <div class="field">
    <label for="phone">Phone: </label>
    <input type="text" id="phone" formControlName="phone" />
  </div>

  <hr />
  <button type="submit">Register</button>
</form>
