<form class="container" [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
  <div>
    <app-form-field
      type="text"
      name="username"
      label="Username"
      [control]="username"
      [formGroup]="registrationForm"
    />
    <app-form-field
      type="password"
      name="password"
      label="Password"
      [control]="password"
      [formGroup]="registrationForm"
    />
    <app-form-field
      type="text"
      name="firstName"
      label="First name"
      [control]="firstName"
      [formGroup]="registrationForm"
    />
    <app-form-field
      type="text"
      name="lastName"
      label="Last name"
      [control]="lastName"
      [formGroup]="registrationForm"
    />
    <app-form-field
      type="text"
      name="address"
      label="Address"
      [control]="address"
      [formGroup]="registrationForm"
    />
    <app-form-field
      type="phone"
      name="phone"
      label="Phone"
      [control]="phone"
      [formGroup]="registrationForm"
    />
  </div>

  <hr />

  <div class="controls-container">
    <app-button type="submit">Submit</app-button>
  </div>
</form>
