@import '../../../shared/variables.scss';

.container {
  width: 900px;

  border-radius: 3px;
  background-color: $light-mode-foreground-color;
  box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.17);

  user-select: text;
}

table {
  width: 100%;
  height: 100%;

  border: none;
  border-collapse: collapse;

  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: normal;
}

tr {
  height: 35px;
}

tr:nth-child(odd) {
  background-color: #00000014;
}

td {
  width: 50%;
  padding-left: 10px;
  overflow-wrap: anywhere;
}

caption {
  padding: 10px;
  padding-top: 12px;
  padding-bottom: 12px;

  font-size: 1.3rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: left;
}

@media (prefers-color-scheme: dark) {
  .container {
    background-color: $dark-mode-foreground-color;
  }

  caption {
    color: $dark-mode-main-font-color;
  }

  td {
    color: $dark-mode-main-font-color;
  }
}
