@import '../../shared/variables.scss';

:host {
  display: flex;
  justify-content: center;
}

.container {
  width: 200px;
}

hr {
  border: none;
}

app-button {
  width: 60px;
  height: 32px;
}

.controls-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
