<form class="container" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div>
    <app-form-field
      type="text"
      name="username"
      label="Username"
      [control]="username"
      [formGroup]="loginForm"
    />
    <app-form-field
      type="password"
      name="password"
      label="Password"
      [control]="password"
      [formGroup]="loginForm"
    />
  </div>

  <hr />
  <div class="controls-container">
    <app-button type="submit">Login</app-button>
    <app-link-button routeLink="/registration">Register</app-link-button>
  </div>
</form>
