@import '../../../../shared/variables.scss';

.container {
  height: 22.4px;
  width: 48.4px;

  margin-left: 10px;

  background-color: rgba(211, 211, 211, 0.4705882353);
  border-radius: 3px;
  margin-top: 10px;
  margin-bottom: 10px;
}
