@import '../../variables.scss';

.container {
  width: inherit;
  height: inherit;
  min-width: 900px;

  padding: 10px;

  border-radius: 3px;

  color: $light-mode-main-font-color;
  background-color: $light-mode-foreground-color;
  box-shadow: 1px 1px 2px 0px rgb(0 0 0 / 25%);
}

@media (prefers-color-scheme: dark) {
  .container {
    color: $dark-mode-main-font-color;
    background-color: $dark-mode-foreground-color;
  }
}
