@import '../../variables.scss';

:host {
  display: block;

  width: fit-content;
  height: fit-content;
}

a {
  width: 60px;
  height: 32px;
  line-height: 32px;

  box-sizing: border-box;
  transition:
    opacity 0.2s ease-in,
    top 0.2s ease-in;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;

  font-size: 11px;

  padding: 0 8px;

  position: relative;

  text-align: center;
  top: 0;
  vertical-align: top;
  white-space: nowrap;

  text-decoration: none;

  color: black;

  border: none;
  background-color: #d8d8d8;
}

a:hover {
  opacity: 0.8;
}

@media (prefers-color-scheme: dark) {
  a {
    color: $dark-mode-main-font-color;
    background-color: $dark-mode-foreground-color;
  }
}
