a {
  width: 60px;
  height: 25px;
  line-height: 25px;

  box-sizing: border-box;
  transition:
    opacity 0.2s ease-in,
    top 0.2s ease-in;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;

  font-size: 11px;

  margin-right: 8px;
  padding: 0 8px;

  position: relative;

  text-align: center;
  top: 0;
  vertical-align: top;
  white-space: nowrap;

  text-decoration: none;

  color: black;

  border: none;
  background-color: #d8d8d8;
}

a:hover {
  opacity: 0.8;
}
