:host {
    display: block;
    margin: 4px;
    width: calc(225px - 8px);

    box-shadow: 1px 1px 2px 0px #00000029;
}

a {
    color: black;
    text-decoration: none;
}

app-image-container {
    height: 200px;
    width: 100%;
}

.product-item-brief {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    width: 100%;
    height: 300px;

    background-color: white;
    border-radius: 4px;
}

.product-item-brief p {
    display: block;
    margin: 0;

    caret-color: transparent;
}

.product-brief-id {
    position: absolute;
    padding: 6px;
    height: calc(20px - 6px);

    font-size: 0.8rem;
    font-weight: 400;
    color: #a5a5a5;
    text-align: right;
}

.product-brief-name {
    padding: 6px;
    margin-bottom: 14px !important;
    max-width: 100%;
    height: calc(65px - 26px);

    display: -webkit-box !important;
   -webkit-line-clamp: 2;
   -webkit-box-orient: vertical;
   overflow: hidden;
   text-overflow: ellipsis;

    font-weight: 400;

    color: #353535;
}

.product-brief-price {
    padding: 6px;
    max-width: 50%;

    overflow: hidden;
    text-overflow: ellipsis;

    font-size: 0.9rem;
    font-weight: 500;
    color: var(--french-violet);
    margin-left: 10px !important;
}

.bottom {
    display: flex;
    height: 35px;
}

.bottom > * {
    width: 50%;
}

.bottom button {
    background-color: transparent;

    transition: background 0.2s ease-out; 

    color: #353535;
    font-weight: 400;
    font-size: 1rem;

    user-select: none;
    cursor: pointer;

    border: none;
    border-bottom-right-radius: 4px;
}

.bottom button:hover {
    background: #efefef;

    border: none;
    border-bottom-right-radius: 4px;
}