<app-text-panel>
    <div class="container">
        <h1 class="header">About Us</h1>
        <h3 class="header">Our Mission</h3>
        <p>We are dedicated to providing our customers with high-quality products while offering a convenient and reliable way to shop for groceries online. Our mission is to make the process of purchasing products as comfortable and enjoyable as possible for every customer.</p>
        <h3 class="header">Our Team</h3>
        <p>Our team consists of experienced professionals in the field of product inventory management, customer service, and online retail. We work tirelessly to ensure that our customers receive the best shopping experience possible, from browsing our website to receiving their orders.</p>
        <h3 class="header">Our Values</h3>
        <p>At our core, we value customer satisfaction, product quality, and transparency. We believe in building trust with our customers by delivering on our promises and continuously improving our services based on their feedback.</p>
        <h3 class="header">Contact Us</h3>
        <p>Have questions or feedback? We'd love to hear from you! Feel free to reach out to our customer support team via email or phone, and we'll be happy to assist you.</p>
    </div>
</app-text-panel>
