.app-product-list-skeleton {
  max-width: 900px;

  display: flex;

  flex-wrap: wrap;
  justify-content: center;
}

.app-product-skeleton {
  width: 217px;
  height: 300px;
  margin: 4px;

  border-radius: 3px;
  background-color: #d3d3d378;
}
