@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500&display=swap');
@import '../../../shared/variables.scss';

.container {
  width: 500px;

  padding: 10px;
  margin: 20px;

  border-radius: 3px;
  background-color: $light-mode-foreground-color;
  box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.16);

  user-select: text;
}

app-button {
  height: 30px;
  width: 60px;
}

hr {
  border-color: #00000021;
  border-radius: 2px;
}

table {
  width: 100%;
}

.header {
  margin-top: 0;
}

.center-text {
  text-align: center;
}

.margin-tb-20 {
  margin-top: 20px;
  margin-bottom: 20px;
}

tr:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.08);
}

th.quantity-column {
  width: 80px;
}

th.product-column {
  align-content: center;
}

th.unit-price-column {
  width: 80px;
}

.finished {
  opacity: 0.5;
}

.cancel {
  width: 60px;
  height: 30px;

  box-sizing: border-box;
  transition:
    opacity 0.2s ease-in,
    top 0.2s ease-in;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  display: inline-block;

  font-size: 0.75rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-style: normal;

  padding: 0 8px;

  position: relative;

  text-align: center;
  top: 0;
  vertical-align: top;
  white-space: nowrap;

  background-color: #d8d8d8;
}

.cancel:hover {
  opacity: 0.8;
}

@media (prefers-color-scheme: dark) {
  .header {
    color: $dark-mode-main-font-color;
  }

  table {
    color: $dark-mode-main-font-color;
  }

  .container {
    background-color: $dark-mode-foreground-color;
  }

  .cancel {
    color: $dark-mode-secondary-font-color;
    background-color: $dark-mode-background-color;
  }
}
