@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');
@import '../../shared/variables.scss';

$bottom-height: 45px;

.container {
  width: 900px;
  height: 500px;

  display: flex;

  border-radius: 3px;
  background-color: white;
  box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.17);
}

.carousel {
  width: 400px;
  height: 500px;
}

.info-container {
  width: 500px - 20px;
  height: 500px - 20px;

  padding: 10px;

  display: flex;
  flex-direction: column;

  user-select: text;
}

.product-name {
  font-size: 1.4rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-style: normal;

  margin-top: 10px;
  margin-bottom: 2px;

  color: $light-mode-main-font-color;

  overflow-wrap: break-word;
}

.additional-info {
  margin: 0;
  margin-left: 4px;
  padding: 0;

  font-size: 0.9rem;
  color: #3d3d3d80;

  display: flex;
  list-style-type: none;
}

.additional-info > hr {
  width: 4px;
  height: 4px;

  margin: auto;
  margin-right: 9px;
  margin-left: 9px;

  border: none;
  border-radius: 2px;
  background-color: #3d3d3d80;
}

.bottom {
  margin-top: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  height: $bottom-height;
}

.bottom .price {
  font-size: 1.4rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: normal;
  overflow-wrap: break-word;

  line-height: $bottom-height;

  margin: 0;
  margin-right: 20px;

  span {
    color: $product-card-discount-color;
    font-size: 0.8rem;
    vertical-align: super;
  }
}

.quantity-input {
  width: 70px;

  margin-right: 5px;
  border-width: 1px;
  border-color: rgba(136, 6, 206, 0.1490196078);

  text-align: right;
  font-size: 1rem;

  border-radius: 3px;
  background-color: whitesmoke;
}

hr {
  opacity: 0;
  height: 40px;
}

.additional-info p {
  margin: 0;
}

.product-description {
  overflow-y: auto;
  overflow-wrap: break-word;
  text-wrap: wrap;
}

@media (prefers-color-scheme: dark) {
  .additional-info {
    color: $dark-mode-special-font-color
  }

  .container {
    background-color: $dark-mode-foreground-color;
  }

  .product-name {
    color: $dark-mode-main-font-color;
  }

  .price {
    color: $dark-mode-special-font-color;
  }

  .product-description {
    color: $dark-mode-secondary-font-color;
  }

  .quantity-input {
    color: $dark-mode-secondary-font-color;
    background-color: $dark-mode-background-color;
  }
}

.add-button {
  width: 200px;
  height: 100%;

  box-sizing: border-box;
  transition:
    opacity 0.2s ease-in,
    top 0.2s ease-in;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  display: inline-block;

  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-style: normal;

  padding: 0 8px;

  position: relative;

  text-align: center;
  top: 0;
  vertical-align: top;
  white-space: nowrap;

  background-color: #d8d8d8;
}

.add-button:hover {
  opacity: 0.8;
}

@media (prefers-color-scheme: dark) {
  .add-button {
    color: $dark-mode-main-font-color;
    background-color: $dark-mode-background-color;
  }
}
