<ng-container *ngIf="this.product$ | async as product">
  <div class="container">
    <app-image-carousel class="carousel" [imagePaths]="product.imagePaths" />

    <div class="info-container">
      <h3 class="product-name">{{ product.name }}</h3>
      <ul class="additional-info">
        <li>
          <p>{{ product.category?.name }}</p>
        </li>
        <hr />
        <li>
          <p>1 {{ product.unitMeasure }}</p>
        </li>
      </ul>

      <p class="product-description">{{ product.description }}</p>

      <div class="bottom">
        <p class="price">${{ product.price }}</p>
        <input
          #quantityInput
          class="quantity-input"
          type="number"
          [value]="quantityValue"
          (change)="onChangeQuantity(quantityInput.value)"
        />
        <app-button (click)="addButtonClick(product.id)">
          Add to cart
        </app-button>
      </div>
    </div>
  </div>
  <hr>

  <ng-container *ngIf="showSpecifications">
    <app-specifications-container [specifications]="product.specifications"/>
  </ng-container>
</ng-container>
