<app-text-panel>
    <div class="container">
        <h1 class="header">Delivery Information</h1>
        <h3 class="header">Shipping Options</h3>
        <div>
            <p>We offer several shipping options to accommodate your needs:</p>
            <ul>
                <li>Standard Shipping: Delivered within 3-5 business days.</li>
                <li>Express Shipping: Delivered within 1-2 business days.</li>
            </ul>
        </div>
        <h3 class="header">Shipping Rates</h3>
        <p>Shipping rates vary depending on the shipping option selected and the destination. You can view the shipping rates at checkout before completing your purchase.</p>
        <h3 class="header">Free Shipping</h3>
        <p>We offer free standard shipping on orders over $50. Orders eligible for free shipping will be automatically applied at checkout.</p>
        <h3 class="header">Order Tracking</h3>
        <p>Once your order has been shipped, you will receive a confirmation email with a tracking number. You can use this tracking number to track your order's delivery status online.</p>
        <h3 class="header">Delivery Times</h3>
        <p>Delivery times may vary depending on your location and the shipping option selected. While we strive to deliver your order as quickly as possible, please note that delivery times are estimates and not guaranteed.</p>
        <h3 class="header">International Shipping</h3>
        <p>At this time, we only offer shipping within the United States. We hope to expand our international shipping options in the future.</p>
        <h3 class="header">Customer Support</h3>
        <p>If you have any questions or concerns about your order or delivery, please don't hesitate to contact our customer support team. We're here to help!</p>
    </div>
</app-text-panel>
