@import '../../../variables.scss';

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.field {
  display: flex;
  flex-direction: column;

  width: 300px;

  margin-bottom: 10px;
}

.field label {
  margin: 5px;

  font-weight: 300;
}

.field textarea {
  margin: 5px;
  max-height: 400px;
  resize: vertical;

  font-weight: 300;

  border-radius: 3px;

  border: none;
  box-shadow: 1px 1px 2px 0px #00000029;
}

.field input {
  height: 30px;
  width: 200px;

  border-radius: 3px;

  border: none;
  box-shadow: 1px 1px 2px 0px #00000029;
}

hr {
  border: none;
}

app-button {
  width: 60px;
  height: 32px;
}

.controls-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

@media (prefers-color-scheme: dark) {
  .field label {
    color: $dark-mode-secondary-font-color;
  }

  .field input {
    color: $dark-mode-main-font-color;
    background-color: $dark-mode-foreground-color;
  }

  .field textarea {
    color: $dark-mode-main-font-color;
    background-color: $dark-mode-foreground-color;
  }
}
