<app-text-panel>
  <ng-container *ngIf="user$ | async as user">
    <div class="container">
      <h2 class="header">{{ user.username }}</h2>

      <p><b>User discount:</b> {{ user.discount * 100 }}%</p>

      @if (userForm !== null) {
        <form [formGroup]="userForm" (submit)="onSubmit()">
          <div>
            <app-form-field
              type="text"
              name="firstName"
              label="First name"
              [control]="firstName"
              [formGroup]="userForm"
              [ngClass]="['background-color']"
            />
            <app-form-field
              type="text"
              name="lastName"
              label="Last name"
              [control]="lastName"
              [formGroup]="userForm"
              [ngClass]="['background-color']"
            />
            <app-form-field
              type="address"
              name="address"
              label="Address"
              [control]="address"
              [formGroup]="userForm"
              [ngClass]="['background-color']"
            />
          </div>

          <button class="update-button" type="submit">Update</button>
        </form>
      }

      <h3>Contacts:</h3>
      <div class="contacts">
        @for (contact of user.contacts; track $index) {
          <p>{{ contact.type }}: {{ contact.value }}</p>
        }
      </div>
    </div>
  </ng-container>
</app-text-panel>
