:host {
    margin: 4px;
    width: calc(225px - 8px);
}

.product-item-brief {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    width: 100%;
    height: 300px;

    background-color: white;
    border-radius: 4px;
}

.image-container {
    width: 100%;
    height: 200px;

    display: flex;
    justify-content: center;

    user-select: none;
}

.image-container img {
    padding: 6px;
    display: flex;
    justify-content: center;

    user-select: none;

    max-width: calc(100% - 12px);
    max-height: calc(100% - 12px);
}

.no-pic {
    filter: invert(76%);

    user-select: none;
    -webkit-user-drag: none;
}

.product-item-brief p {
    display: block;
    margin: 0;
}

.product-brief-id {
    position: absolute;
    padding: 6px;
    height: calc(20px - 6px);

    font-size: 0.8rem;
    font-weight: 400;
    color: #a5a5a5;
    text-align: right;
}

.product-brief-name {
    padding: 6px;
    height: calc(65px - 12px);

    font-weight: 500;

    color: #353535;
}

.product-brief-price {
    padding: 6px;

    font-size: 0.9rem;
    font-weight: 500;
    color: var(--french-violet);
    margin-left: 10px !important;
}

.bottom {
    display: flex;
    height: 35px;
}

.bottom > * {
    width: 50%;
}

.bottom button {
    background-color: transparent;

    transition: background 0.2s ease-out; 

    color: #353535;
    font-weight: 400;
    font-size: 1rem;

    user-select: none;
    cursor: pointer;

    border: none;
    border-bottom-right-radius: 4px;
}

.bottom button:hover {
    background: #efefef;

    border: none;
    border-bottom-right-radius: 4px;
}