<nav>
  <div class="auth-controls-container">
    <button class="nav-button" (click)="loginButtonClick()">
      <p>
        {{ (this.user$ | async)?.username ?? 'Login' }}
      </p>
    </button>
    <app-auth-dropdown />
  </div>

  <ul>
    @for (item of navButtons; track item.title) {
      <li class="nav-link-button">
        <a [routerLink]="item.link">
          <div
            routerLinkActive="pill-active"
            class="pill"
            [ngStyle]="item.styles"
          >
            {{ item.title }}
          </div>
        </a>
      </li>
    }

    <li class="nav-logo">
      <a routerLink="home">Product Store</a>
    </li>
  </ul>
  <button class="nav-button" (click)="cartButtonClick()">
    <p> Cart </p>
  </button>
</nav>
<app-cart-panel class="cart-panel"> </app-cart-panel>
